.index-page {
  background: url('../images/accueil.jpg') no-repeat center 0px;
  background-size: cover;
  background-attachment: scroll; /* L'image défile avec le contenu */
  position: relative; /* Nécessaire pour positionner le pseudo-élément */
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Filtre transparent, ajustez l'opacité si besoin */
  pointer-events: none; /* Pour que l'overlay ne bloque pas l'interaction avec le contenu */
  z-index: -1; /* Positionné derrière le contenu */
}

/* --- Section Hero --- */
.index-hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;  /* L'image de fond occupe toute la hauteur de l'écran */
  background: transparent;
}

.index-hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Le texte se place au-dessus de l'overlay */
.hero-text {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.hero-text h1 {
    font-size: 4.2rem;
    margin-bottom: 15px;
    color: white;
}

/* Contenu centré dans la section hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #cef5e1;
}

/* Nom de la compagnie */
.mariage-name-index {
  font-size: 4.2rem;
  margin-bottom: 40px;
}

/* Navigation centrée */
.nav-links-index ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-flex;
  gap: 40px; /* Espacement entre les onglets */
}

.nav-links-index a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  transition: color 0.3s;
}

.nav-links-index a:hover {
  color: #778f82;
  text-decoration: none;
  outline: none;
}

/* Bouton principal */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: #cef5e1; /* Rouge bordeaux */
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

.btn:hover {
    background: #778f82; /* Rouge plus foncé */
    text-decoration: none;
    outline: none;
}

.btn-secondary:hover {
    background: #444;
    text-decoration: none;
    outline: none;
}
