/* Fond de page avec image et overlay transparent */
.index-page {
  position: relative;
  min-height: 100vh;
  background: url('../images/accueil.jpg') no-repeat center center;
  background-size: cover;
}

.index-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Ajustez l'opacité du filtre ici */
  pointer-events: none;
  z-index: -1;
}

/* --- Section Hero --- */
.index-hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 20vh;  /* L'image de fond occupe toute la hauteur de l'écran */
  background: transparent;
}

/* Contenu principal */
/* --- Contenu Principal --- */
.index-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px 20px;
  z-index: 2;
  color : var(--text-color);
  background: transparent;
}

.index-hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Le texte se place au-dessus de l'overlay */
.hero-text {
    position: relative;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.hero-text h1 {
    font-size: 4.2rem;
    margin-bottom: 15px;
    color: white;
}

/* Contenu centré dans la section hero */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: #cef5e1;
}

/* Nom de la compagnie */
.mariage-name-index {
  font-size: 4.2rem;
  margin-bottom: 40px;
}

/* Navigation centrée */
.nav-links-index ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-flex;
  gap: 40px; /* Espacement entre les onglets */
}

.nav-links-index a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  transition: color 0.3s;
}

.nav-links-index a:hover {
  color: #778f82;
  text-decoration: none;
  outline: none;
}
